.container_header {
    padding: 10px;
    border-bottom: 4px solid $primary;
}

.container_title_video_call {
    display: flex;
    justify-content: space-between;
}

.container_title_video_call p{
    text-align: left;
    font-size: 25px;
    padding: 6px;
    margin: 0;
}

.container_message {
    display: block;
    width: 100%;
    padding: 0px 10px 0px 10px;
    max-height: 600px;
    overflow-y: auto;
    font-size: 12px;
}


.message_user {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.message_agente {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.message_user_text {
    position: relative;
    display: flex;
    flex-direction: column; 
    background-color: #e4ebf7;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    max-width: 400px;
}

.message_agente_text {
    position: relative;
    display: flex;
    flex-direction: column;  
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 15px 15px 15px 0px;
    max-width: 400px;
}

.message_date {
    text-align: center;
    padding: 16px 0;
    font-size: 12px;
    color: #999;
}

.container_form {
    display: flex;
    margin: 20px;
}

.text_area_input {
    max-height: 200px;
    height: 20px;
}

.container_form_file {
    font-size: x-large;
    margin-right: 10px;
    cursor: pointer;
}

.container_file{
    display: flex;
    min-width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: #d0d0d0;
    border-radius: 3px;
}

.container_download{
    display: block;
    width: 100%;
}
.container_download span{
    font-size: 12px;
    margin-left: 10px;
}

.container_download i {
    font-size: 20px
}

/*VIDEO CALL*/

.container_video_call {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

